<h1>Դուք հրավիրվել եք գործարքի!</h1>
<p>Վաճառողը ցանկանում է վաճառել ձեզ {{carBrand}} {{carModel}} մեքենան ${{price}}-ով։</p>
<p>Գործարքը հաստատելու համար, խնդրում ենք հետևել հղմանը՝</p>
<a href="{{transactionLink}}">Հաստատել գործարքը</a>
<p>Հարգանքով,<br>Հայաստանի Հանրապետություն<br>Ներքին գործերի նախարարություն</p>
